{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form id="form" method="post" action="{% url 'shop:process_payment' %}">
                {% csrf_token %}
                <div class="box-element" id="form-wrapper">
                        {% if request.user.is_authenticated %}
                        <div class="form-group">
                            <label for="email">Correo Electrónico:</label>
                            <input class="form-control" type="email" name="email" value="{{ request.user.email }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input class="form-control" type="text" name="name" value="{{ request.user.first_name }}" readonly>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="email">Correo Electrónico:</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input class="form-control" type="text" name="name">
                        </div>
                    {% endif %}
                </div>

                <br>
                <div class="form-group">
                    <label for="payment_method">Métodos de pago:</label>
                    <select class="form-control" name="payment_method" id="payment_method">
                        {% if order.is_in_person or fisico%}
                        <option value="Cash">Pago en mano</option>
                        {% endif %}
                        <option value="Stripe">Pagar con Stripe</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Pagar ahora</button>
            
            </div>

            <div class="col-lg-6">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'shop:cart' %}">&#x2190; Volver al carrito</a>
                    <hr>
                    <h3>Resumen del pedido</h3>
                    <hr>
                    {% for item in items %}
                    <div class="cart-row">
                        <!-- check exact attribute names -->
                        <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
                        <div style="flex:2"><p>{{item.product.name}}</p></div>
                        <div style="flex:2"><p>€{{item.product.price|floatformat:2}}</p></div>
                        <div style="flex:2"><p>x{{item.quantity}}</p></div>
                    </div>
                    {% endfor %}
                    <h5>Productos: {{order.get_cart_items}}</h5>
                    <h5>Total: €{{order.get_cart_total|floatformat:2}}</h5>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
