{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
 <!--<h1>Dashboard</h1>-->
 <p>Welcome!</p>
 {% if user.is_superuser %}
    <p>¡Eres un superusuario!</p>
    <a href = "/account/administration/product">Add Product</a>
    <a href = "/account/administration/category">Add Category</a>
    <a href = "/account/administration/subject">Add Subject</a>
    <a href = "/account/administration/professor">Add Professor</a>
    <a href = "/account/administration/reclamation">Reclamations</a>
     <a href = "/account/administration/order_list">Seguimiento de pedidos</a>
{% endif %}
{% endblock %}