{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "image/noimage.jpg" %}{% endif %}">
    <h1> {{ product.name }}</h1>
    <h2>Fecha: {{ product.init_dateTime }}</h2>
    <h2>Duracion: {{ duration}} horas</h2>
   <!-- <h2>Finish date: {{ product.finish_dateTime }}</h2>-->
    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>
    <h2>
    Profesor: {{ product.professor }}
    </h2>
    <p class="price"> {{ product.price }}€</p>
    {% if product.quota > 0 %}
    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Añadir al carrito</button>
    {% else %}
        <button class="btn btn-danger" disabled>Clase agotada</button>
    {% endif %}
    <h2>
    Asignatura: {{ product.subject}}
    </h2>
     <p class="quota">Plazas disponibles: {{ product.quota }}</p>
    <h3>Descripción:</h3> {{ product.description|linebreaks }}

{% with comments.count as total_comments %}
<h2>
    {{ total_comments }} comentario{{ total_comments|pluralize }}
</h2>
{% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comentario {{ forloop.counter }} por {{ comment.name }} - {{ comment.created }}
    </p>
    {{ comment.body }}
    {% if not forloop.last %}
        <hr> {# Agrega una línea horizontal si no es el último comentario #}
    {% endif %}
</div>
{% empty %}
<p>No hay comentarios</p>
{% endfor %}
{% if user.is_authenticated %}
    {% include "shop/product/includes/comment_form.html" %}
{% endif%}

</div>
{% endblock %}