{% extends "base.html" %}
{% block title %}Administración de asignaturas{% endblock %}
{% block content %}
<h2>Administracion de asignaturas</h2>
<a href="{% url 'dashboard' %}">&larr; Volver a Mi perfil</a>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="{{ subject.get_absolute_url }}">{{ subject.name }}</a> - Url: {{ subject.slug }}
                <form action="{% url 'delete_subject' subject.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="padding: 8px 16px; background-color: #f44336; color: white; border: none; border-radius: 4px; cursor: pointer;">Eliminar</button>
                </form>
                <a href="{% url 'update_subject' subject.id %}" style="margin-left: 10px;">Actualizar</a>
            </li>
            {% empty %}
            <li>No hay asignaturas.</li>
        
        {% endfor %}
        
    </ul>
{% endblock %}