{% extends "base.html" %}
{% block title %}Admin Product List{% endblock %}
{% block content %}
<h2>Manage Published Products</h2>
<a href="{% url 'dashboard' %}">&larr; Back to Dashboard</a>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> - Price: {{ product.price }}€
                <form action="{% url 'delete_product' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="padding: 8px 16px; background-color: #f44336; color: white; border: none; border-radius: 4px; cursor: pointer;">Delete</button>
                </form>
                <a href="{% url 'update_product' product.id %}" style="margin-left: 10px;">Actualizar</a>
            </li>
            </li>
            {% empty %}
            <li>No products published.</li>
        
        {% endfor %}
        
    </ul>
{% endblock %}