{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Lista de estudiantes y sus clases reservadas</h2>
<table>
    <tr>
      <th>Estudiante</th>
      <th>ID Pedido</th>
      <th>Fecha</th>
      <th>Código</th>
      <th>Seguimiento</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    {% for customer in customers %}
      {% for order in customer.completed_orders %}
        <tr>
          <td>{{ customer.user.username }}</td>
          <td><a href="{% url 'view_order' order.id %}">{{ order.id }}</a></td>
          <td>{{ order.date_ordered }}</td>
          <td>{{ order.code }}</td>
          <td>{{ order.tracking }}</td>
          <td>{{ order.payment_status}}</td>
          <td>
            <form method="post" action="{% url 'delete_order' order.id %}"  style="text-align: right;">
            {% csrf_token %}
            <input type="submit" value="Eliminar Pedido">
            </form>
            <form method="post" action="{% url 'mark_as_paid' order.id %}">
            {% csrf_token %}
            <input type="submit" value="Marcar como Pagado">
            </form>
          </td>
        </tr>
      {% endfor %}
    {% empty %}
      <tr>
        <td colspan="5">No hay clases reservadas.</td>
      </tr>
    {% endfor %}
</table>
{% endblock %}