{% extends "base.html" %}
{% load static %}
{% block title %}
Reclamaciones
{% endblock %}
{% block content %}

<div id="main" class="reclamation-list">
    <h1>Reclamaciones</h1>
    {% for reclamation in reclamations %}
    <div class="item">
        <h2>Nombre: {{ reclamation.name }}
        </h2>
        <h2>
        Correo electrónico: {{ reclamation.email }}
        </h2>
        Reclamación: {{ reclamation.body }}
        <a href="close/{{ reclamation.id }}" >
            <button>Cerrar reclamación</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}