{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="{% url 'dashboard' %}">&larr; Volver a Mi perfil</a>
  <div style="background-color: #f8f9fa; padding: 20px; border-radius: 10px;margin-top: 20px;">

    <h2 style="color: #343a40; margin-bottom: 20px;">Informe de Ventas</h2>

    <div style="margin-bottom: 10px;">
      <p style="font-size: 1.2em;"><strong>Ventas Totales:</strong> {{ total_sales }}€</p>
    </div>

    <div style="margin-top: 20px;">
      <h3 style="color: #007bff; margin-bottom: 10px;">Ventas por Producto</h3>
      <ul style="list-style-type: none; padding: 0;">
        {% for sale in sales_per_product %}
          <li style="margin-bottom: 5px;">
            <strong>{{ sale.product__name }}:</strong> {{ sale.total }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div style="margin-top: 20px;">
    
        {% for sale in sales_per_customer %}
          <li style="margin-bottom: 5px;">
            <strong>{{ sale.customer__user__username }}:</strong> {{ sale.total }}
          </li>
        {% endfor %}
   
    </div>

  </div>
{% endblock %}
