{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color: #f8f9fa; padding: 20px; border-radius: 10px;margin-top: 20px; margin-bottom: 20px;">
    <h2 style="color: #343a40; margin-bottom: 10px;">Detalles del Pedido {{ order.id }}</h2>
    <div style="margin-bottom: 10px;">
        <strong>Estudiante:</strong> {{ order.customer.user.username }}
    </div>
    <div style="margin-bottom: 10px;">
        <strong>Fecha:</strong> {{ order.date_ordered }}
    </div>
    <div style="margin-bottom: 10px;">
        <strong>Código:</strong> {{ order.code }}
    </div>
    <div style="margin-bottom: 10px;">
        <strong>Seguimiento:</strong> {{ order.tracking }}
    </div>
    <div style="margin-bottom: 10px;">
        <strong>Estado:</strong> {{ order.payment_status }}
    </div>
</div>

<table>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
    {% for orderitem in order.orderitem_set.all %}
        <tr>
          <td>{{ orderitem.product.name }}</td>
          <td>{{ orderitem.quantity }}</td>
          <td>{{ orderitem.get_total }}€</td>
        </tr>
    {% empty %}
      <tr>
        <td colspan="2">No hay productos en este pedido.</td>
      </tr>
    {% endfor %}
</table>
<h5 style="margin-top: 20px;">Precio total: {{ order.get_cart_total  }}€</h5>
<form method="post" action="{% url 'delete_order' order.id %}"  style="text-align: right; margin-top: -40px;">
    {% csrf_token %}
    <button type="submit" class ="btn btn-danger" value="Eliminar Pedido">Eliminar Pedido</button>
</form>
<form method="post" action="{% url 'mark_as_paid' order.id %}" style="text-align: right; margin-right: 150px; margin-top: -40px;">
  {% csrf_token %}
  <input type="submit" value="Marcar como Pagado">
</form>
{% endblock %}