{% extends "shop/base.html" %}
{% load static %}
{% block title %}Order Confirmation{% endblock %}
{% block content %}
        <div class="col-lg-6">
            <div class="box-element">
                <h2>Order details</h2>

                <p>Your order with id {{ order.id }} has been processed.</p>
                <p>Here are your order details:</p>

                <p><strong>Total: </strong>€{{ order.get_cart_total|floatformat:2 }}</p>

                <h4>Products</h4>

                <ul>
                    {% for item in items %}
                        <li>{{ item.product.name }} - Price: {{ item.product.price|floatformat:2 }}€ - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
                
                <p><strong>Class code: </strong>{{ code }}</p>
                <p>Thanks for your order!</p>
            </div>
        </div>
    {% endblock %}
