{% extends "shop/base.html" %}
{% load static %}
{% block title %}Confirmación de Pedido{% endblock %}
{% block content %}
        <div class="col-lg-6">
            <div class="box-element">
                <h2>Detalles del Pedido</h2>

                <p>Su pedido con ID de seguimiento {{ order.tracking }} ha sido procesado.</p>
                <p>Aquí están los detalles de su pedido:</p>

                <p><strong>Total: </strong>€{{ order.get_cart_total|floatformat:2 }}</p>

                <h4>Productos</h4>

                <ul>
                    {% for item in items %}
                        <li>{{ item.product.name }} - Precio: {{ item.product.price|floatformat:2 }}€ - Cantidad: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
                
                <p><strong>Código de Clase: </strong>{{ code }}</p>
                <p>¡Gracias por su pedido!</p>
            </div>
        </div>
    {% endblock %}
