{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}My shop{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <script type="text/javascript">
            var user = '{{request.user}}'

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i=0; i<cookies.length; i++) {
                        var cookie = cookies[1].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(
                                cookie.substring(name.length + 1)
                            );
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
        </script>
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">My shop</a>
        </div>
        <div id="subheader">
            <div class="cart">
            Your cart is empty.
            </div>
        </div>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        <script type="text/javascript" src="{%static 'js.cart.js'%}"></script>
    </body>
</html>