{% extends "shop/base.html" %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Pedidos</title>
</head>
<body>
{% block content%}
    <h1>Listado de Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>ID de Pedido</th>
                <th>Cliente</th>
                <th>Código de la clase</th>
                <th>Id de seguimiento</th>
                <th>Fecha de Pedido</th>
          
            </tr>
        </thead>
        <tbody>
    

            {% for order in orders %}
         
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer.email }}</td>
                    <td>{{order.code}}</td>
                    <td>{{order.tracking}}</td>
                    <td>{{order.date_ordered }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>
